<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->


<style>
  /*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2369 {
    padding: var(--sectionPadding);
    padding-bottom: 0;
    background-color: #FBF5F1;
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-2369 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 49rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-2369 .cs-wrapper {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sbs-2369 .cs-content {
    /* set text align to center if content needs to be centered */
    text-align: left;
    width: 100%;
    max-width: 43.375rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* left aligns content, set to center to align content horizontally */
    align-items: flex-start;
  }
  #sbs-2369 .cs-header {
    /* 20px - 31px */
    font-size: clamp(1.25rem, 3vw, 1.9375rem);
    text-align: center;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 2rem 0;
    color: var(--headerColor);
  }
  #sbs-2369 .cs-arrow {
    width: 9.625rem;
    height: auto;
    margin-bottom: 1.25rem;
    display: block;
  }
  #sbs-2369 .cs-topper {
    text-align: center;
    margin: auto;
  }
  #sbs-2369 .cs-title {
    text-align: center;
    max-width: 20ch;
    margin: auto;
    margin-bottom: 30px;
    /* 48px - 64px */

    position: relative;
    z-index: 1;
  }

  #sbs-2369 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-2369 .cs-text:last-of-type {
    /* 24px - 32px */
    margin-bottom: clamp(1.5rem, 3vw, 2rem);
  }
  #sbs-2369 .cs-ul {
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbs-2369 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-2369 .cs-icon {
    width: 1.1875rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 3px;
    display: block;
    flex: none;
  }
 
  #sbs-2369 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
    font-size: min(2.8vw, .75rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 32.625em;
    height: auto;
    order: 2;
    position: relative;
    z-index: 1;
  }
  #sbs-2369 .cs-picture {
    width: 100%;
    height: auto;
    display: block;
  }
  #sbs-2369 .cs-picture img {
    width: 100%;
    height: auto;
    display: block;
  }
  #sbs-2369 .cs-flower {
    width: 75em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
}
/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #sbs-2369 {
    padding: var(--sectionPadding);
    padding-bottom: 0;
  }
  #sbs-2369 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #sbs-2369 .cs-content {
    width: 50%;
    padding-bottom: clamp(3.75rem, 7.82vw, 6.25rem);
    align-items: flex-start;
  }
  #sbs-2369 .cs-topper,
  #sbs-2369 .cs-title {
    text-align: left;
    margin: 0;
  }
  #sbs-2369 .cs-topper {
    margin-bottom: 0.25rem;
  }

  #sbs-2369 .cs-image-group {
    /* set to inherit at Large Desktop */
    font-size: min(1.2vw, 1rem);
    height: auto;
    order: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  #sbs-2369 .cs-picture {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    z-index: 1;
  }
  #sbs-2369 .cs-picture img {
    height: 100%;
    width: auto;
  }
  #sbs-2369 .cs-flower {
    width: 80vw;
    max-width: 56.25rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-2369 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #sbs-2369 .cs-title,
  body.dark-mode #sbs-2369 .cs-text,
  body.dark-mode #sbs-2369 .cs-header,
  body.dark-mode #sbs-2369 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-2369 .cs-title:before {
    opacity: 0.2;
  }
  body.dark-mode #sbs-2369 .cs-text,
  body.dark-mode #sbs-2369 .cs-li {
    opacity: 0.8;
  }
  body.dark-mode #sbs-2369 .cs-wheel {
    filter: grayscale(1) brightness(1000%) opacity(0.3);
  }
}
                                
</style>

<section id="sbs-2369">
    <div class="cs-wrapper">
        <p class="cs-header">
           You deserve a trusted design partner who just gets it & gets it done.        </p>
        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/curve-arrow.svg" alt="arrow graphic" width="154" height="120">
    </div>
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/2.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/2.png">
                <img loading="lazy" decoding="async" src="/assets/images/2.png" alt="therapist" width="565" height="814">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/flower-blur.svg" alt="flower blur" width="635" height="697">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Honey Bao</span>
            <h2 class="cs-title">Your small business design sidekick</h2>
            <p class="cs-text">
           At Honey Bao, we specialize in delivering beautiful, on brand graphics every month. So you can stop stressing about design and focus on running your business.
 We have over a decade of experience helping businesses like yours level up their presence with reliable, professional, and affordable creative support.            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/swirl.svg" alt="checkmark" width="24" height="24">
                   Logo Design & Branding
                </li>
                                 <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/swirl.svg" alt="checkmark" width="24" height="24">
                    Newsletter, Menu, Flyer & Signage Graphics
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/swirl.svg" alt="checkmark" width="24" height="24">
                    Instagram & Facebook & Google Graphics & Posts
                </li>
 
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/swirl.svg" alt="checkmark" width="24" height="24">
                    On brand Business photography & for your office, staff & products
                </li>
            </ul>
                <DIV style="text-align: center; margin-top: 0px;">
      

   
{% include 'components/cta_button.html' %}

    </DIV>
        </div>
    </div>
</section>
                                