<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #hero-2349 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    z-index: 1;
    background-color: black;
  }
  #hero-2349 .cs-container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    /* 392px - 560px */
   padding-top: 130px;
    position: relative;
    z-index: 1;
  }
  #hero-2349 .cs-content {
    width: 100%;
    max-width: 59.5rem;
    padding: var(--sectionPadding);
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  #hero-2349 .cs-title {
    /* 39px - 90px */
    font-size: clamp(2.1375rem, 6vw, 4.225rem);
    margin-bottom: 0;
    max-width: 100%;
    color: var(--bodyTextColorWhite);
        padding-top:0px;
        
  }
  #hero-2349 .cs-text {

    max-width: 500px;
    color: var(--bodyTextColorWhite);
         font-size: clamp(1.0375rem, 3.9vw, 1.4625rem);

  }


  #hero-2349 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-2349 .cs-button-solid {
    align-self: flex-start;
  }
  #hero-2349 .cs-stats {
    margin: 0;
    /* 24px - 40px top & bottom */
    /* 16px - 60px left & right */
    padding: clamp(1.5rem, 5vw, 2.5rem) clamp(1rem, 5vw, 3.75rem);
    box-sizing: border-box;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.875rem;
    row-gap: 4rem;
  }
  #hero-2349 .cs-item {
    list-style: none;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #hero-2349 .cs-number {
    /* 25px - 49px */
    font-size: clamp(1.5625rem, 5vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #hero-2349 .cs-color {
    color: var(--primary);
    display: inline-block;
    transform: translateX(5px);
  }
  #hero-2349 .cs-desc {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #hero-2349 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
  }
  #hero-2349 .cs-background:before {
    /* gradient Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-2349 .cs-background img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: .5;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2349 {
    padding: var(--sectionPadding);
    padding-top: 0;
    /* 48px - 60px */
    padding-bottom: clamp(3rem, 4vw, 3.75rem);
  }
  #hero-2349 .cs-content {
    width: 55%;
    padding: 0;
  }
  #hero-2349 .cs-stats {
    width: auto;
    background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(10px);
    column-gap: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    border-radius: 22px;
  }
  #hero-2349 .cs-item {
    grid-column: span 12;
  }
}

/* Large Desktop - 1600px */
@media only screen and (min-width: 100rem) {
  #hero-2349 .cs-stats {
    grid-template-columns: repeat(3, 1fr);
    gap: 4.5rem;
  }
  #hero-2349 .cs-item {
    grid-column: span 1;
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #services-2349 {
    padding: var(--sectionPadding);
  }
  #services-2349 .cs-card-group {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px, changes to 100px at large desktop 1300px */
    column-gap: clamp(1rem, 3vw, 1.25rem);
    row-gap: 2rem;
  }
  #services-2349 .cs-item {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    grid-column: span 12;
  }
  #services-2349 .cs-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #services-2349 .cs-icon {
    width: 1.5rem;
    height: auto;
    margin-bottom: 1.5rem;
    display: block;
  }
  #services-2349 .cs-h2 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 2.1625rem);
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem;
    padding-bottom: 0rem;
    height: 100%;
    color: var(--headerColor);
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  #services-2349 .cs-item-text {
    font-size: 1.2rem;
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2349 .cs-item {
    grid-column: span 6;
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-2349 .cs-item {
    grid-column: span 4;
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-2349 .cs-card-group {
    column-gap: 6.25rem;
  }

  #hero-2349 .cs-content {
    padding: 100px 0px;
  }
}
                                
</style>

<section id="hero-2349">
    <div class="cs-container">
      <div class="cs-content">
    <h2 class="cs-title">We create beautiful graphics for busy businesses</h2>
    
    <p class="cs-text">
   At Honey Bao, we partner with small businesses to deliver custom, professional graphic design for the content you use every day. From social media posts and email newsletters to flyers, menus, yard signs, and more.    </p>
    <a href="" class="cs-button-solid">First 20 Clients $75 a month</a>
</div>

    </div>
    <ul class="cs-stats">
        <li class="cs-item">
            <span class="cs-number">
                <span class="cs-color">+</span>
               10
            </span>
            <span class="cs-desc">Available Spots</span>
        </li>
        <li class="cs-item">
            <span class="cs-number">
                <span class="cs-color">$</span>
                75
            </span>
            <span class="cs-desc">A Month</span>
        </li>
        <li class="cs-item">
            <span class="cs-number">
                <span class="cs-color">+</span>
                0
            </span>
            <span class="cs-desc">Extra Cost for Logo Design</span>
        </li>
    </ul>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/1.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/1.jpg">
        <img decoding="async" src="/assets/images/1.jpg" alt="fancy modern architecture" width="1800" height="860">
    </picture>
</section>
           
<!-- ============================================ -->
<!--                 Services                     -->
<!-- ============================================ -->
                                
<section id="services-2349">
  <DIV style="margin: auto; max-width: 900px;">
    <h3 class="cs-topper" style="max-width: 1300px;">
   You’re constantly creating flyers, social posts, menus, & more.
  </h3>
  <h3 class="cs-title" style="max-width: 1300px; margin-bottom: 150px;">
     But professional design is hard to maintain when you’re running the whole business.
  </h3>
  </DIV>
    <ul class="cs-card-group">
        <li class="cs-item">
            <a href="" class="cs-link">
               <span class="cs-title">😓</span>                <h2 class="cs-h2"> You’re not a designer</h2>
                <p class="cs-item-text">
                     (and you shouldn’t have to be)
                </p>
            </a>
        </li>
        <li class="cs-item">
            <a href="" class="cs-link">
               
               <span class="cs-title">🤢</span>   

                <h2 class="cs-h2">Your business looks inconsistent</h2>
                <p class="cs-item-text">
                    Confusing customers and killing trust
                </p>
            </a>
        </li>
        <li class="cs-item">
            <a href="" class="cs-link">
                
 <span class="cs-title">😲</span>   
              <h2 class="cs-h2">DIY takes too long & you're not a techie </h2>
                <p class="cs-item-text">
                  We take care of it for you
                  </p>
            
            </a>
        </li>

    </ul>

    <DIV style="text-align: center; margin-top: 80px;">
      

   
{% include 'components/cta_button.html' %}

    </DIV>
</section>
